.content {
  padding-left: 149px;
  position: relative;

  &__right-column {
    position: absolute;
    bottom: -200px;
    right: 0;
    z-index: -1;
  }

  &__header {
    color: #2D2D2D;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.3rem;
    padding-top: 120px;
  }
  &__header i {
    color: #FF8345;
    font-style: normal;
  }
  &__sub-header {
    max-width: 444px;
    width: 100%;
    color: #7C7C7C;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-top: 22px;
  }
  &__get-started{
    width: 130px;
    height: 46px;
    color: white;
    background-color: $button-color;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.47rem;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  &__get-started:hover {
    background-color:  $button-color-hover;
  }
}