@import './burger.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 146px;
  padding-right: 141px;
  width: 100%;
  padding-top: 30px;

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    font-size: 1.67rem;
    line-height: 2.5rem;
    height: 40px;
  }

  &__logo-img {
    flex-basis: 40px;
    flex-grow: 1;
    flex-shrink: 0;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 365px;
    width: 100%;
  }

  &__nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  &__nav-menu-item {
    list-style-type: none;
  }
  
  &__nav-menu-item a {
    color: #4A4A4A;
    font-size: 1.07rem;
    cursor: pointer;
    text-decoration: none;
  }

  &__sign-up {
    width: 108px;
    height: 42px;
    background: $button-color;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1.07rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__sign-up:hover {
    background: $button-color-hover;
  }

}

@media (max-width: 1024px) {

  .header{
    padding-left: 20px;
    padding-right: 20px;

    &__nav {
      position: fixed;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(128, 128, 128);
      align-items: flex-start;
      flex-direction: column;
      transition: left 1s ease 0s;
      overflow: auto;
      z-index: 10;
      max-width: 100%;
    }

    &__nav.header__nav_is-opened {
      left: 0;
    }

    &__nav-menu {
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 60px;
      margin-left: 40px;
    }

    &__nav-menu-item a{
      color: white;
      font-size: 2rem;
    }

  }
}