.price {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: 500;
  font-size: 1.07rem;
  line-height: 1.27rem;
  align-items: center;
  margin-top: 40px;

  &__link {
    color: #FD905A;
  }
  &__faces {
    position: relative;
    width: 98px;
    height: 38px;
    margin-right: 12px;
  }
  &__img {
    position: absolute;
    top: 0;
  }
  &__img:nth-child(1) {
    left: 0;
    z-index: 4;
  }
  &__img:nth-child(2) {
    left: 20px;
    z-index: 3;
  }
  &__img:nth-child(3) {
    left: 40px;
    z-index: 2;
  }
  &__img:nth-child(4) {
    left: 60px;
    z-index: 1;
  }
}